<h1>Welcome to Link Board</h1>

<div class="row">
  <div class="col-xs-12 col-sm-12">
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>Votes</th>
          <th></th>
          <th>Title</th>
          <th>Link</th>
          <th>Post</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr class="postrow">
            <td>
              <span class="vote_count">
                <%= post.votes.reduce(0) { |sum, n| sum += n['value'] }%>
              </span>
            </td>
            <td>
              <table class="no-pad">
                <tr>
                  <td>
                    <% if @current_user %>
                      <%# link_to '', "/posts/#{post[:id]}/votes?upvote=true", :method => 'post', :class => 'btn glyphicon glyphicon-arrow-up' %>
                      <%= bootstrap_form_for [post,@vote], :html => {:class => "new_vote upvote"} do |f| %>
                        <%= f.hidden_field :value, value: "1" %>
                        <% if post.votes.find_by_user_id(@current_user[:id]) && post.votes.find_by_user_id(@current_user[:id]).value == 1 %>
                          <%= f.button '', class: 'btn glyphicon glyphicon-arrow-up green' %>
                        <% else %>
                          <%= f.button '', class: 'btn glyphicon glyphicon-arrow-up gray' %>
                        <% end %>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <% if @current_user %>
                      <%# link_to '', "/posts/#{post[:id]}/votes?upvote=false", :method => 'post', :class => 'btn glyphicon glyphicon-arrow-down' %>
                      <%= bootstrap_form_for [post,@vote], :html => {:class => "new_vote downvote"} do |f| %>
                        <%= f.hidden_field :value, value: "-1" %>
                        <% if post.votes.find_by_user_id(@current_user[:id]) && post.votes.find_by_user_id(@current_user[:id]).value == -1 %>
                          <%= f.button '', class: 'btn glyphicon glyphicon-arrow-down red' %>
                        <% else %>
                          <%= f.button '', class: 'btn glyphicon glyphicon-arrow-down gray' %>
                        <% end %>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              </table>
            </td>
            <td><%= post.title %></td>
            <td><a href="<%=post.link%>"><%=post.link%></td>
            <td><%= post.post %></td>
            <td><%= link_to post.comments.count.to_s + ' comments', post_comments_path(post_id: post[:id]) %></td>
            <!-- "posts/#{post[:id]}/comments" -->
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
