<h1>Posts for <%= @current_user.name %></h1>

<div class="row">
  <div class="col-xs-12 col-sm-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Title</th>
          <th>Link</th>
          <th class="text-right">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.title %></td>
            <td><%= post.link %></td>
            <td class="text-right">
              <%= link_to '', edit_post_path(:id => post.id), :class => "btn btn-success glyphicon glyphicon-pencil" %>
              <%= link_to '', post, :method => "delete", :confirm => "Are you sure?", :class => "btn btn-danger glyphicon glyphicon-remove" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
