<h1>Posts for <%= @current_user.name %></h1>

<div class="row">
  <div class="col-xs-12 col-sm-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Title</th>
          <th>Link</th>
          <th class="text-right">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.title %></td>
            <td><%= post.link %></td>
            <td class="text-right">
              <%= link_to "Edit", edit_post_path(:id => post.id), :class => "btn btn-success" %>
              <!-- link_to "some text", users_path(:params => params, :more_params => "more params") -->
              <%= link_to "Delete", post, :method => "delete", :confirm => "Are you sure?", :class => "btn btn-danger" %>
              <!-- link_to "Delete", @some_obj, :method => "delete", :confirm => "Are you sure?" -->
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
